body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

h3{
  font-size: 30px;
}

h1{
  font-size: 50px;
  color: #ff0066;
}

.half-section p{
  text-align: left;
  color: dimgray;
  margin-bottom: 30px;
}

.button-style{
  text-decoration: none;
  background-color: #ff0066;
  padding: 8px 25px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.half-section{
  margin-top: 30px;
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}


.upper-section{
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  padding-bottom: 150px;
}

.biography-section{
  background-image: url("images/biography-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
  padding-bottom: 150px;
}

.half-section img{
  width: 100%;
}

.latestwork-img img{
  width: 100%;
}

.latestwork-img{
  width: 31%;
  float: left;
  margin-left: 20px;
}

.latest-work{
  margin: 50px 50px 50px 50px;
  height: 200px;
  padding-bottom: 300px;
  background-image: url("images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

h4{
  text-align: center;
}

.contact-section{
  margin: auto;
  background-color: #ff0066;
  padding: 15px 25px;
  border-radius: 5px;
  height: 80px;
  width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-section a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 120px;
}

.contact-section p{
  color: white;
}

.footer-section h2,h4,p{
  text-align: center;
}

.cse-quote{
  height: 10px;
  width: 400px;
  margin: auto;
}

.footer-section{
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  padding-bottom: 150px;
}
